/* Add your custom styles for the About component here */


.about-mf {
    height: 100%;
    color: whitesmoke;
    margin-top: 5%;
  }
  
  .about-img {
    margin-bottom: 30px;
  }
  
  .b-shadow-a {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title-box-2 {
    position: relative;
    margin-bottom: 30px;
  }
  
  .title-left {
    color: #333333;
    position: relative;
    font-size: 24px;
    font-weight: 700;
  }
  
  .skill-mf span {
    font-weight: 700;
  }
  
  .progress {
    background-color: #f0f0f0;
    height: 10px;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px 0;
  }
  
  .progress-bar {
    background-color: #007bff;
  }
  
  .lead {
    font-size: 16px;
    color: #777777;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .about-img {
    margin-bottom: 30px;
  }
  
  .title-left {
    color: #17a2b8;
  }
  
  .skill-mf {
    margin-bottom: 30px;
  }
  
  .progress-bar {
    background-color: #17a2b8 !important;
  }
  
  .lead {
    margin-bottom: 15px;
  }
  
  .lead strong {
    color: #17a2b8;
  }
  

  /* Add custom bullet points */
ul {
    margin-bottom: 15px;
    list-style-type: none;
    padding-left: 0;
  }
  
  /* Style for custom bullet points */
  ul li::before {
    content: "\2022"; /* Use a bullet character */
    color: #17a2b8; /* Change the color to match your design */
    font-size: 12px; /* Adjust the size as needed */
    margin-right: 8px; /* Add some space between the bullet and the text */
  }
  
  
  